<h1>¿Estás seguro?</h1>
<hr>
<p>
    Estás apunto de borrar al heroe <strong>{{data.superhero}}</strong>
    <br/>
    <br/>
    ¿Deseas continuar?
    <br/>
</p>

<div fxLayout>
    <button mat-raised-button 
            color="accent"
            (click)="borrar()">
            <mat-icon>check</mat-icon>
            Si, borrar
    </button>

    <span class="spacer"></span>

    <button mat-raised-button 
            color="warn"
            (click)="cancelar()">
            <mat-icon>close</mat-icon>
            Cancelar
    </button>
</div>